<!doctype html>
<html>
  <head>
    <title>聊天室</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    
    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>聊天室 <small>——畅所欲言</small></h1>
      </div>
      <div class="row">
        <div class="col-xs-3 panel panel-default">
          <div class="panel-body" id="userListDiv" style="overflow-y:auto;height:350px;">

            <table class="table table-striped" id="userList">
              
            </table>
          </div>
        </div>

        <div class="col-xs-9 panel panel-default">
          <div class="panel-body" id="messagesDiv" style="overflow-y:auto;height:350px;">
            <table class="table table-striped" id="messages">
            </table>
    
          </div>
        </div>
      </div>

      <form action="" class="form">
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-7">
            <input id="m" class="form-control"  autocomplete="off" />
          </div>
          <div class="col-xs-1">
            <button class="btn btn-default">Send</button>
          </div>
        </div>
      </form>
    </div>

    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">登录</h4>
          </div>
          <div class="modal-body">
            <form class="form" role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="inputUserName" placeholder="用户名">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="login">确定</button>
          </div>
        </div>
      </div>
      
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      var userName = '';
      var userList = new Array();
      $(function(){
        $('#myModal').modal('show');
      });
      //用户登录
      $('#login').click(function(){
        userName = $('#inputUserName').val();
        if(!userName) return false;
        socket.emit('userLogin', userName);
        $('#myModal').modal('hide');
      });

      var socket = io();
      //用户发送消息
      $('form').submit(function(){
        if(!userName) {
          $('#myModal').modal('show');
          return false;
        }
        socket.emit('chat message', userName, $('#m').val());
        $('#m').val('');
        return false;
      });
      //绑定用户登录列表事件
      socket.on('userLoginList', function(userList){
        $('#userList').empty();
        for (i=0, len=userList.length; i<len; i++){
          $('#userList').append($('<tr>').append($('<td>').text(userList[i])));
        }
        document.getElementById('userListDiv').scrollTop=document.getElementById('userListDiv').scrollHeight;
      });
      //绑定用户发送信息事件
      socket.on('chat message', function(userName,msg){
        $('#messages').append($('<tr>').append($('<td>').html(showMessage(userName,msg))));
        document.getElementById('messagesDiv').scrollTop=document.getElementById('messagesDiv').scrollHeight;
      });
      //绑定用户在线事件
      socket.on('who_online', function(){
        socket.emit('userLogin', userName);
      });

      function showMessage(userName,msg){
        var content = '<span class="label label-info">'+ currentTime() +'</span>'+
        '<span class="label label-primary">'+ userName +'</span><br>' +
        '<strong>'+ msg +'</strong>';
        return content;
      }
      
      function currentTime(){
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var d = date.getDate();
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        month = month>9?month:('0'+month);
        d = d>9?d:('0'+d);
        h = h>9?h:('0'+h);
        m = m>9?m:('0'+m);
        s = s>9?s:('0'+s);
        var time = ''+year+'-'+month+'-'+d+' '+h+':'+m+':'+s;
        return time;      
      }
    </script>
  </body>
</html>